.row.valign-wrapper{ style: "height: 400px" }
  .col.s10.offset-s1.valign
    %h1.center-align
      %span Cloudhealth
      |
      %span.blue-text You_Source

    %h5.center-align.bold
      Find out who's your most productive developer.

    = form_tag "/", method: :get do
      .top30
        = text_field_tag "sprint", "", class: "center-align f-30", placeholder: "enter the sprint name here, dummy!"

        .center-align
          = submit_tag "Go!", class: "btn btn-large"
