.row.valign-wrapper{ style: "height: 400px" }
  .col.s10.offset-s1.valign
    %h1.center-align
      %span Cloudhealth
      |
      %span.blue-text You_Source

    %h5.center-align.bold
      Find out who's our most productive developer.

    .top30
      = text_field_tag "sprint", "", class: "center-align f-30", placeholder: "enter the sprint name here, dummy!"
